[buildout]
unzip = true
newest = false
extends = versions.cfg
versions = versions
prefer-final = true
develop = .

extensions =
    buildout_versions
eggs =
    tutorial.todoapp
parts =
    scripts


# =============================
# Generate all scripts for eggs
# =============================
[scripts]
recipe = z3c.recipe.scripts
dependent-scripts = true
interpreter = zopepy
eggs = ${buildout:eggs}
