[buildout]
extends = base.cfg

parts +=
    omelette
    sphinxbuilder
    test
    instance

eggs +=
    collective.todoapp [develop,test]


# ===============================================
# Mirrors python namespaces into one handy folder
# ===============================================
[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}


# ======================================
# Prepare Sphinx documentation generator
# ======================================
[sphinxbuilder]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
interpreter = ${buildout:directory}/bin/zopepy


# ==========================================
# Prepare test-runner for running unit tests
# ==========================================
[test]
recipe = zc.recipe.testrunner
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
eggs = ${buildout:eggs}


# ==================================
# Create a development Zope instance
# ==================================
[instance]
recipe = plone.recipe.zope2instance
user = admin:admin
debug-mode = off
verbose-security = on
environment-vars = zope_i18n_compile_mo_files = true
eggs = ${buildout:eggs}

