# a buildout specifically prepared for Travis CI to keep it under
# 15 minutes which is a timeout limit for Travis CI jobs

[buildout]
extends = development.cfg

# disable extensions for performance reasons
extensions =

# network speedup
socket-timeout = 3
allow-hosts =
    *.python.org
    docutils.sourceforge.net
    prdownloads.sourceforge.net
    effbot.org

# disable some parts again for performance reasons
parts -=
    omelette
    sphinxbuilder
    instance
